<%= turbo_stream_from :messages %>

<p style="color: green"><%= notice %></p>

<div class="container sm">
  <h1>Messages</h1>

  <div id="messages" class="space-y-2 my-2">
    <% @messages.each do |message| %>
      <%= render message %>
      <!-- <p> -->
      <!--   <%= link_to "Show this message", message %> -->
      <!-- </p> -->
    <% end %>
  </div>

  <div id='new_message'>
    <%= render 'form', message: Message.new %>
  </div>
</div>
